.bg-myGrey {
    background-color: #4f4b4c;
}

.bg-menuOpt {
    position: absolute;
}

.capitalize {
    text-transform: capitalize;
}

.card-img-top-cart {
    width: 100%;
    height:15vw;
    object-fit: cover;
}
